/*styles*/
* {
  box-sizing: border-box;
  text-decoration:none;
}

body {
	font-family: Helvetica-Neue, Helvetica, arial;
	color:#666666;

}

.wrapper {
	width:70%;
	margin:auto;
	text-align: center;
}


button {
	background-color: white;
	font-size:16px;
	padding:8px;
	border-radius: 8px;
	border:1px solid #CCCCCC;
	margin:10px;
}

button:hover {
	background-color: #d6ecee;
}

button:active {
	color: white;
	background-color: #007d8a;
}

input[type=submit] {
	background-color: white;
	border:1px solid #666666;
}

input[type=submit]:hover {
	background-color: #d6ecee;
	border:1px solid #666666;
}

input[type=submit]:active {
	color: white;
	background-color: #007d8a;
	border:1px solid #666666;
}
/*hide placeholder text onfocus*/
input[type=text]:focus::-webkit-input-placeholder { color:transparent; }
input[type=text]:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input[type=text]:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input[type=text]:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


.gif {
	margin-top:25px;
	margin-bottom:25px;
	background-color:#d6ecee;
	padding-bottom: 8px;
}

.gif p {
	padding: 8px;
	font-size:10px;
	text-transform: uppercase;
}

.button_Wrapper, .button_Wrapper #page_buttons, .form_Wrapper, form {
	display:inline;
}

form {
	font-size:12px;	
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 16px;
}

.form_Wrapper {
	border-radius: 8px;
	border:1px solid #CCCCCC;
	padding-left: 8px;
	padding-right: 8px;
	padding-top:8px;
	padding-bottom:8px;
	background-color: #dddddd;
	
}


.button_Wrapper {
	padding-bottom: 10px;
}

.button_Wrapper h1 {
	padding: 15px;
	font-size:28px;
	border-bottom: 1px solid #666666;
}

#page-buttons {
	padding-top: 10px;
}
/*@media screen and (max-device-width : 320px) {
	.wrapper { 
		width:320px;
	}
}
@media screen and (max-device-width : 480px) {
	.wrapper { 
		width:320px;
	}
@media screen and (max-width: 640px) {
	.wrapper { 
		width:480px;
	}

@media screen and (max-device-width : 1024px) {
	.wrapper { 
		width:760px;
	}*/

